@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

body {
  font-family: Verdana, Arial;
  padding: 0 0 0 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.center {
  text-align: center;
}

#extern {
  width: 680px;
  height: 400px;
  margin: 0 auto;
  background: #fefefe;
  padding: 30px;
  border: 5px solid #efefef;
  position: relative;
}

#primary {
  width: 680px;
  height: 400px;
}
#bodyBtn {
  height: 86px;
  margin: 15px 0;
}
#bodyBtn button {
  width: 246px;
  padding: 27px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 27px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 6px;
}
#bodyBtn #start_button {
  background: #238dd3;
  float: left;
  margin: 0 0 0 70px;
  color: #24e9cf;
}
#bodyBtn #reset_button {
  background: #aaa;
  float: right;
  margin: 0 70px 0 0;
  color: #5c5a5a;
}

#bodyBtn #pause_button {
  background: #61db75;
  float: left;
  margin: 0 0 0 70px;
  color: #116ce4;
}

#header img {
  display: block;
  object-fit: contain;
  background-color: transparent;
  margin: auto;
}

#box {
  margin: 0 auto;
  width: 534px;
  height: 125px;
  margin-bottom: 36px;
  position: relative;
  clear: both;
}

#timer {
  margin: auto;
  text-align: center;
  letter-spacing: 0px;
  line-height: 128px;
  position: absolute;
  width: 100%;
}

#timer span {
  font-weight: bold;
  font-family: Helvetica;
  font-size: 114px;
  color: #4babbc;
  text-shadow: 1px 1px 1px #b1bea9;
  transition: all 0 ease 0.5s;
}

html {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;
  background: radial-gradient(#280a48, #20043d);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

#status {
  padding: 27px 0;
  border-radius: 6px;
}

#status p {
  text-align: center;
}
#status span {
  color: #20043d;
}
